
Game Files/IBGWYN/.vs/IBGWYN/v16/.suo
Game Files/IBGWYN/.vs/IBGWYN/v16/Browse.VC.db
Game Files/IBGWYN/.vs/IBGWYN/v16/Browse.VC.db-shm
Game Files/IBGWYN/.vs/IBGWYN/v16/Browse.VC.db-wal
Game Files/IBGWYN/.vs/IBGWYN/v16/Browse.VC.opendb
